<section>
  <div class="bg-white border-b border-gray-100 py-6 px-4">
    <div class="container mx-auto px-6 py-3">
      <div class="text-xs text-gray-400 flex items-center gap-1 mr-4 mb-4">
        <a routerLink="/home" class="hover:text-gray-600 transition">{{
          'breadcrumb.home' | translate
        }}</a>
        <span>/</span>
        <span class="text-gray-700 font-medium">{{ 'search.searchResults' | translate }}</span>
      </div>
      <div class="flex-1 max-w-2xl relative">
        <i class="fas fa-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
        <input
          [ngModel]="searchQuery()"
          (ngModelChange)="searchQuery.set($event)"
          type="text"
          [placeholder]="'search.searchPlaceholder' | translate"
          class="w-full pl-12 pr-4 py-3 text-sm border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
        />
      </div>
      @if (searchQuery().length > 0) {
        <div class="mt-4">
          <h1 class="text-2xl font-bold text-gray-900">
            {{ 'search.searchResultsFor' | translate: { query: searchQuery() } }}
          </h1>
          <p class="text-gray-500 text-sm mt-1">
            {{ 'search.weFound' | translate }} {{ productsQuantity() ?? 0 }}
            {{ 'search.productsForYou' | translate }}
          </p>
        </div>
      }
    </div>
  </div>
</section>
