<div class="flex flex-col items-center sticky top-20 overflow-hidden shadow-sm rounded-2xl p-6">
  <swiper-container allow-touch-move="false" #mainSwiper class="min-h-64 w-full">
    @for (image of product()?.images; track $index) {
      <swiper-slide>
        <img [src]="image" />
      </swiper-slide>
    }
  </swiper-container>

  <swiper-container
    #thumbSwiper
    slides-per-view="auto"
    allow-touch-move="false"
    space-between="8"
    free-mode="true"
    class="mt-3 w-full"
  >
    @for (image of product()?.images; track $index) {
      <swiper-slide class="w-20">
        <div
          (click)="goToSlide($index)"
          [class]="activeIndex() === $index ? 'border-[#337ab7]' : 'border-transparent'"
          class="w-20 h-20 p-1 hover:border-[#337ab7] border-4 flex items-center justify-center rounded transition-all cursor-pointer"
        >
          <img [src]="image" class="w-16 h-16 object-contain" />
        </div>
      </swiper-slide>
    }
  </swiper-container>
</div>
