<app-breadcrumb-header
  [title]="'categories.allCategories' | translate"
  [subtitle]="'categories.subtitle' | translate"
  [parentRoutes]="['/', '/categories']"
  [parentLabels]="['breadcrumb.home' | translate, 'categories.allCategories' | translate]"
  iconClass="fa-layer-group"
  classes="bg-linear-to-br from-primary-600 via-primary-500 to-primary-400"
></app-breadcrumb-header>

<section class="min-h-screen bg-gray-50/50">
  <div class="container mx-auto px-4 py-10">
    @if (isCategoriesLoading()) {
      <app-items-loader
        class="text-primary-500"
        loadingMessage="Loading categories..."
      ></app-items-loader>
    } @else {
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 sm:gap-6">
        @for (category of categories(); track category._id) {
          <app-category-card [isShortcutStyle]="false" [category]="category"></app-category-card>
        }
      </div>
    }
  </div>
</section>

<app-features-section></app-features-section>
