<div class="bg-white border border-gray-100 p-12 rounded-3xl">
  <div class="flex flex-col items-center justify-center">
    <div class="rounded-full size-20 flex items-center justify-around bg-gray-100 mb-5">
      <i class="fas fa-location-dot text-gray-400 text-3xl"></i>
    </div>
    <h2 class="text-gray-800 font-bold text-lg mb-2">
      {{ 'profile.addresses.empty.title' | translate }}
    </h2>
    <p class="text-gray-500 leading-relaxed mb-8 text-center">
      {{ 'profile.addresses.empty.subtitle' | translate }}
    </p>
    <button
      (click)="onOpenForm()"
      class="flex items-center gap-2 bg-primary-600 hover:bg-primary-700 active:scale-95 transition-all duration-150 text-white font-semibold px-6 py-3 rounded-xl shadow-lg shadow-primary-600/25 cursor-pointer"
    >
      <i class="fas fa-plus size-4"></i>
      {{ 'profile.addresses.empty.addFirstAddress' | translate }}
    </button>
  </div>
</div>
