<form class="mt-10 space-y-7" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <!-- NEW PASSWORD -->
  <div>
    <div class="relative mb-2">
      <label for="newPassword" class="block text-sm font-semibold text-slate-700">
        {{ 'resetPassword.createPassword.newPassword.label' | translate }}
      </label>

      <i class="absolute top-1/2 left-4 fas fa-lock text-slate-400" aria-hidden="true"></i>

      <input
        id="newPassword"
        [type]="isNewPasswordShown() ? 'text' : 'password'"
        formControlName="newPassword"
        class="h-full w-full px-4 py-3 pl-12 bg-transparent text-base text-slate-800 outline-none placeholder:text-slate-400 focus:border-primary-500 focus:ring-2 focus:ring-primary-100 transition-all rounded-xl border border-slate-300"
        placeholder="{{ 'resetPassword.createPassword.newPassword.placeholder' | translate }}"
      />

      <button
        type="button"
        (click)="showPassword('new')"
        class="absolute top-1/2 right-4 text-slate-400 hover:text-slate-600"
      >
        @if (isNewPasswordShown()) {
          <app-icon name="eye-off"></app-icon>
        } @else {
          <app-icon name="eye"></app-icon>
        }
      </button>
    </div>

    @let newPasswordControl = resetPasswordForm.get('newPassword');

    @if (newPasswordControl?.invalid && isSubmittedOnce()) {
      <p class="text-red-500 text-sm my-2">
        @if (newPasswordControl?.hasError('required')) {
          {{ 'resetPassword.createPassword.errors.required' | translate }}
        } @else if (newPasswordControl?.hasError('minlength')) {
          {{ 'resetPassword.createPassword.errors.minLength' | translate }}
        } @else if (newPasswordControl?.hasError('missingUpperCase')) {
          {{ 'resetPassword.createPassword.errors.uppercase' | translate }}
        } @else if (newPasswordControl?.hasError('missingLowerCase')) {
          {{ 'resetPassword.createPassword.errors.lowercase' | translate }}
        } @else if (newPasswordControl?.hasError('missingNumber')) {
          {{ 'resetPassword.createPassword.errors.number' | translate }}
        } @else if (newPasswordControl?.hasError('missingSpecialChar')) {
          {{ 'resetPassword.createPassword.errors.special' | translate }}
        }
      </p>
    }
  </div>

  <!-- CONFIRM PASSWORD -->
  <div>
    <div class="relative mb-2">
      <label for="confirmPassword" class="block text-sm font-semibold text-slate-700">
        {{ 'resetPassword.createPassword.confirmPassword.label' | translate }}
      </label>

      <i class="absolute top-1/2 left-4 fas fa-lock text-slate-400" aria-hidden="true"></i>

      <input
        id="confirmPassword"
        [type]="isConfirmPasswordShown() ? 'text' : 'password'"
        formControlName="confirmPassword"
        class="h-full w-full px-12 py-3 bg-transparent text-base text-slate-800 outline-none placeholder:text-slate-400 focus:border-primary-500 focus:ring-2 focus:ring-primary-100 transition-all rounded-xl border border-slate-300"
        placeholder="{{ 'resetPassword.createPassword.confirmPassword.placeholder' | translate }}"
      />

      <button
        type="button"
        (click)="showPassword('confirm')"
        class="absolute top-1/2 right-4 text-slate-400 hover:text-slate-600"
      >
        @if (isConfirmPasswordShown()) {
          <app-icon name="eye-off"></app-icon>
        } @else {
          <app-icon name="eye"></app-icon>
        }
      </button>
    </div>

    @let confirmPasswordControl = resetPasswordForm.get('confirmPassword');

    @if (
      (resetPasswordForm.hasError('passwordMismatch') || confirmPasswordControl?.invalid) &&
      isSubmittedOnce()
    ) {
      <p class="text-red-600 text-sm my-2">
        @if (confirmPasswordControl?.hasError('required')) {
          {{ 'resetPassword.createPassword.errors.confirmRequired' | translate }}
        }

        @if (resetPasswordForm.hasError('passwordMismatch')) {
          {{ 'resetPassword.createPassword.errors.mismatch' | translate }}
        }
      </p>
    }
  </div>

  <!-- SUBMIT -->
  <button
    [disabled]="isSubmiting()"
    type="submit"
    class="inline-flex gap-2 h-14 w-full items-center justify-center rounded-xl bg-primary-600 px-4 text-lg font-semibold text-white transition hover:bg-primary-700 disabled:opacity-60 disabled:cursor-not-allowed"
  >
    @if (isSubmiting()) {
      <i class="fas fa-spinner fa-spin"></i>
      {{ 'resetPassword.createPassword.submitting' | translate }}
    } @else {
      {{ 'resetPassword.createPassword.submit' | translate }}
    }
  </button>
</form>
