@if (isShortcutStyle()) {
  <button
    [routerLink]="['/categories/' + category()?._id]"
    type="button"
    class="bg-white rounded-xl p-4 justify-center gap-3 shadow-sm hover:shadow-md transition-all cursor-pointer w-full h-full"
  >
    <div
      class="mx-auto size-20 overflow-hidden rounded-full bg-slate-100 text-slate-600 transition-all flex items-center justify-center mb-3"
    >
      <img [src]="category()?.image" class="w-full h-full object-cover" />
    </div>

    <h3 class="font-medium text-center">{{ category()?.name }}</h3>
  </button>
} @else {
  <button
    [routerLink]="['/categories/' + category()?._id]"
    type="button"
    class="bg-white border border-gray-100 rounded-xl justify-center gap-3 shadow-sm hover:shadow-md transition-all cursor-pointer p-6 group hover:-translate-y-1 duration-300 hover:border-primary-200"
  >
    <div
      class="aspect-square mx-auto overflow-hidden rounded-xl bg-slate-100 text-slate-600 transition-all flex items-center justify-center mb-3"
    >
      <img
        [src]="category()?.image"
        [alt]="category()?.name"
        class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-500"
      />
    </div>

    <h3 class="font-bold text-gray-900 text-center group-hover:text-primary-600 transition-colors">
      {{ category()?.name }}
    </h3>
    <div
      class="flex items-center justify-center gap-2 invisible group-hover:visible transition-all text-primary-600 text-xs"
    >
      <span>{{ 'categoryDetails.viewSubcategories' | translate }}</span>
      <i class="fas fa-arrow-right"></i>
    </div>
  </button>
}
