<div class="rounded-2xl bg-white p-8 shadow-xl lg:p-12 max-w-2xl mx-auto">
  <div class="text-center">
    <h1 class="text-3xl font-bold text-primary-600">
      Fresh<span class="text-slate-800">Cart</span>
    </h1>

    @if (stepNumber() === 4) {
      <div
        class="mx-auto mt-3 size-15 rounded-full p-10 bg-primary-50 flex items-center justify-center"
      >
        <i class="fas fa-check text-4xl text-primary-600"></i>
      </div>

      <h3 class="mt-4 text-2xl font-bold text-slate-900">
        {{ 'resetPassword.success.title' | translate }}
      </h3>

      <p class="mt-3 text-gray-600">
        {{ 'resetPassword.success.description' | translate }}
      </p>

      <a
        routerLink="/login"
        class="inline-flex mt-3 gap-2 h-14 w-full items-center justify-center rounded-xl bg-primary-600 px-4 text-lg font-semibold text-white transition hover:bg-primary-700 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-primary-100 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60"
      >
        {{ 'resetPassword.success.backToLogin' | translate }}
      </a>
    } @else {
      <h3 class="mt-4 text-2xl font-bold text-slate-900">
        {{ title() }}
      </h3>

      <p class="mt-3 text-gray-600">
        {{ description() }}
      </p>
    }
  </div>

  @if (stepNumber() !== 4) {
    <div class="mx-auto mt-8 px-10 flex max-w-sm items-center gap-1.5" aria-hidden="true">
      <span
        class="flex size-10 items-center justify-center rounded-full bg-primary-600 text-white ring-4 ring-primary-100"
      >
        <i [class]="stepNumber() > 1 ? 'fa-check' : 'fa-envelope'" class="fas text-sm"></i>
      </span>

      <span
        [class]="stepNumber() >= 2 ? 'bg-primary-600 ' : 'bg-gray-200'"
        class="h-0.5 flex-1 bg-gray-200"
      ></span>

      <span
        [class]="
          stepNumber() >= 2
            ? 'bg-primary-600 text-white ring-primary-100'
            : 'bg-slate-100 text-slate-400'
        "
        class="flex size-10 items-center justify-center rounded-full"
      >
        <i [class]="stepNumber() > 2 ? 'fa-check' : 'fa-key'" class="fas text-xs"></i>
      </span>

      <span
        [class]="stepNumber() === 3 ? 'bg-primary-600 ' : 'bg-gray-200'"
        class="h-0.5 flex-1"
      ></span>

      <span
        [class]="
          stepNumber() === 3
            ? 'bg-primary-600 text-white ring-primary-100'
            : 'bg-slate-100 text-slate-400'
        "
        class="flex size-10 items-center justify-center rounded-full"
      >
        <i class="fas fa-lock text-xs"></i>
      </span>
    </div>
  }

  @if (stepNumber() === 1) {
    <app-send-reset-code
      (codeSent)="nextStepInit($event)"
      [email]="email()"
    ></app-send-reset-code>

  } @else if (stepNumber() === 2) {
    <app-verification-code
      (backToSendCode)="backToSendCode()"
      (codeVerified)="nextStepInit('')"
      [email]="email()"
    ></app-verification-code>

  } @else if (stepNumber() === 3) {
    <app-create-new-password
      [email]="email()"
      (onPasswordReset)="nextStepInit()"
    ></app-create-new-password>
  }
</div>
