<div class="flex items-center justify-between">
  <div class="w-full">
    <div class="flex items-center justify-between mb-6">
      <div>
        <h2 class="text-gray-900 font-bold text-xl">{{ 'profile.addresses.title' | translate }}</h2>
        <p class="text-gray-500 text-sm mt-1">{{ 'profile.addresses.subtitle' | translate }}</p>
      </div>
      <button
        (click)="openAddForm()"
        class="flex items-center gap-2 bg-primary-600 rounded-xl text-white px-5 py-2.5 cursor-pointer"
      >
        <i class="fas fa-plus"></i>
        {{ 'profile.addresses.addAddress' | translate }}
      </button>
    </div>
    @if (addresses().length > 0) {
      <div class="grid md:grid-cols-2 gap-1">
        @for (address of addresses(); track address._id) {
          <app-address-card
            (updateAddresses)="updateAddresses($event)"
            (openEditForm)="opendEditForm($event)"
            [address]="address"
          ></app-address-card>
        }
      </div>
    } @else {
      <app-empty-addresses (openForm)="openAddForm()"></app-empty-addresses>
    }
    @if (isAddForm() || isEditForm()) {
      <app-create-addresses
        (closeForm)="closeForm()"
        (updateAddresses)="updateAddresses($event)"
        [addressToEdit]="toEditAddress()"
        [isEditMode]="isEditForm()"
      ></app-create-addresses>
    }
  </div>
</div>
